.header-container {
    width: 100%;
    padding-left: 10%;
    padding-right: 20%;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50%;
    height: 50%;
}